<!DOCTYPE html>
<html lang="{{ site.LanguageCode | default `en-US` }}">
{{ partial "head.html" . }}
{{ partialCached "style.html" . }}

<body>
	{{ partialCached "preloader.html" . }}
	{{ .Scratch.Set "bg" "bg-tertiary"}}
	{{ partial "header.html" . }}
	{{ if not .IsHome }}
	{{ partial "page-header.html" . }}
	{{ end }}
	{{ block "main" . }}{{ end }}
	{{ partial "footer.html" . }}
	{{ partialCached "script.html" . }}

	<!-- Start of HubSpot Chatbox Embed Code -->
	<script type="text/javascript" id="hs-script-loader" async defer src="//js-eu1.hs-scripts.com/26039146.js"></script>
	<!-- End of HubSpot Embed Code -->
</body>

</html>