<!DOCTYPE html>
<html lang="{{ site.LanguageCode | default `en-US` }}">
{{ partial "head.html" . }}
{{ partialCached "style.html" . }}

<body>
	{{ partialCached "preloader.html" . }}
	{{ .Scratch.Set "bg" "bg-tertiary"}}
	{{ partial "header.html" . }}
	{{ if not .IsHome }}
	{{ partial "page-header.html" . }}
	{{ end }}
	{{ block "main" . }}{{ end }}
	{{ partial "footer.html" . }}
	{{ partialCached "script.html" . }}

	<!-- Start of HubSpot Chatbox Embed Code -->
	<script type="text/javascript" id="hs-script-loader" async defer src="//js-eu1.hs-scripts.com/26039146.js"></script>
	<!-- End of HubSpot Embed Code -->

	<!-- linkedin insight tag -->
	<script type="text/javascript">
		_linkedin_partner_id = "4093876";
		window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
		window._linkedin_data_partner_ids.push(_linkedin_partner_id);
		</script><script type="text/javascript">
		(function(l) {
		if (!l){window.lintrk = function(a,b){window.lintrk.q.push([a,b])};
		window.lintrk.q=[]}
		var s = document.getElementsByTagName("script")[0];
		var b = document.createElement("script");
		b.type = "text/javascript";b.async = true;
		b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
		s.parentNode.insertBefore(b, s);})(window.lintrk);
	</script>
	<noscript>
		<img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=4093876&fmt=gif" />
	</noscript>
	<!-- end linkedin insight tag -->

	<!-- facebook tag -->
	<!-- Facebook Pixel Code -->
<!-- Meta Pixel Code -->
	<script>
		!function(f,b,e,v,n,t,s)
		{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
		n.callMethod.apply(n,arguments):n.queue.push(arguments)};
		if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
		n.queue=[];t=b.createElement(e);t.async=!0;
		t.src=v;s=b.getElementsByTagName(e)[0];
		s.parentNode.insertBefore(t,s)}(window, document,'script',
		'https://connect.facebook.net/en_US/fbevents.js');
		fbq('init', '5434525376592947');
		fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none"
		src="https://www.facebook.com/tr?id=5434525376592947&ev=PageView&noscript=1"
	/></noscript>
	<!-- End Facebook Pixel Code -->
	<!-- end facebook tag -->
</body>

</html>