<h2>{{i18n `os_notwhat`}}</h2>
<p>{{i18n `os_otherservices`}}</p>

<div class="accordion accordion-wrapper">
    <div class="accordion-item mb-1">    
      <h2 class="accordion-header accordion-button h5 fw-normal border-0 mt-4 p-0 text-capitalize" id="heading-storage" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-storage" aria-controls="collapse-storage">{{i18n `storage`}}</h2>
      <div id="collapse-storage" class="accordion-collapse collapse" aria-labelledby="heading-storage">
        <div class="accordion-body p-0 pt-2 content">
            {{i18n `storage_block` | safeHTML }}
        </div>
      </div>
    </div>
  </div>

  <div class="accordion accordion-wrapper">
    <div class="accordion-item mb-1">    
      <h2 class="accordion-header accordion-button h5 fw-normal border-0 mt-4 p-0 text-capitalize" id="heading-computing" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-computing" aria-controls="collapse-computing">{{i18n `computing`}}</h2>
      <div id="collapse-computing" class="accordion-collapse collapse" aria-labelledby="heading-computing">
        <div class="accordion-body p-0 pt-2 content">
            {{i18n `computing_block` | safeHTML }}
        </div>
      </div>
    </div>
  </div>

  
  <div class="accordion accordion-wrapper">
    <div class="accordion-item mb-1">    
      <h2 class="accordion-header accordion-button h5 fw-normal border-0 mt-4 p-0 text-capitalize" id="heading-websites" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-websites" aria-controls="collapse-websites">{{i18n `websites`}}</h2>
      <div id="collapse-websites" class="accordion-collapse collapse" aria-labelledby="heading-websites">
        <div class="accordion-body p-0 pt-2 content">
            {{i18n `websites_block` | safeHTML }}
        </div>
      </div>
    </div>
  </div>

  <div class="accordion accordion-wrapper">
    <div class="accordion-item mb-1">    
      <h2 class="accordion-header accordion-button h5 fw-normal border-0 mt-4 p-0 text-capitalize" id="heading-data" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-data" aria-controls="collapse-data">{{i18n `data`}}</h2>
      <div id="collapse-data" class="accordion-collapse collapse" aria-labelledby="heading-data">
        <div class="accordion-body p-0 pt-2 content">
            {{i18n `data_block` | safeHTML }}
        </div>
      </div>
    </div>
  </div>

  <div class="accordion accordion-wrapper">
    <div class="accordion-item mb-1">    
      <h2 class="accordion-header accordion-button h5 fw-normal border-0 mt-4 p-0 text-capitalize" id="heading-consultation" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-consultation" aria-controls="collapse-consultation">{{i18n `consult`}}</h2>
      <div id="collapse-consultation" class="accordion-collapse collapse" aria-labelledby="heading-consultation">
        <div class="accordion-body p-0 pt-2 content">
            {{i18n `consult_block` | safeHTML }}
        </div>
      </div>
    </div>
  </div>

